In [27]:
import pandas as pd
import numpy as np

In [32]:
wine_data_path = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQDVwxneOKOaJL13QMhkAhYrgWlH1tICY7RacUnj_lL8m9uUWaaUf3p7bScNyh_D2Rvt7nc1q11adSy/pub?gid=647503637&single=true&output=csv"
df = pd.read_csv('winequalityN.csv')
df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [33]:
# checking every value in columns which are "null"
df.isnull().sum()

type                     0
fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

In [34]:
#replacing null with  mean
df.update(df.fillna(df.mean()))

C:\Users\LUCKYS~1\AppData\Local\Temp/ipykernel_10228/217285154.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.update(df.fillna(df.mean()))

In [35]:
df.isnull().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [36]:
df['type'].value_counts()

white    4898
red      1599
Name: type, dtype: int64

In [37]:
df['quality'].value_counts()

6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64

In [38]:
df.drop('type',inplace=True,axis=1)
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [39]:
X=df.iloc[:,:-1]
y=df['quality']

X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS

X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1,test_size=0.2)

print(X_train.shape)
print(X_test.shape)

(5197, 11)
(1300, 11)

In [47]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [48]:
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
model=LinearRegression()

cross_val_score(model,X_train,y_train,cv=5,scoring='r2')
print("Training",np.mean(cross_val_score(model,X_train,y_train,cv=5,scoring='r2')))
print("testing",np.mean(cross_val_score(model, X_test, y_test, cv=5, scoring='r2')))

Training 0.2808226799285272
testing 0.30792340286816977

### ExhaustiveFeatureSelector

In [61]:
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS
lr=LinearRegression()
exh = EFS(lr, max_features=10, scoring='r2', cv=10, print_progress=True,n_jobs=-1)
sel=exh.fit(X_train,y_train)

Features: 2046/2046

In [62]:
print('Best accuracy score: %.2f' % exh.best_score_)
print('Best subset (indices):', exh.best_idx_)
print('Best subset (corresponding names):', exh.best_feature_names_)

Best accuracy score: 0.28
Best subset (indices): (0, 1, 2, 3, 5, 6, 7, 8, 9, 10)
Best subset (corresponding names): ('0', '1', '2', '3', '5', '6', '7', '8', '9', '10')

In [63]:
X_train_sel=sel.transform(X_train)
X_test_sel=sel.transform(X_test)

In [64]:
model=LinearRegression()
print("Training",np.mean(cross_val_score(model,X_train_sel,y_train,cv=5,scoring='r2')))
print("testing",np.mean(cross_val_score(model, X_test_sel, y_test, cv=5, scoring='r2')))

Training 0.2808860168292639
testing 0.30945222974088804

### Sequential Selection

In [78]:
#Sequential Forward Selection
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.metrics import mean_squared_error
lr=LinearRegression()
sfs=SFS(lr,k_features=9,forward=True,floating=False,cv=5,scoring='r2')
sfs=sfs.fit(X_train,y_train)

X_train_sfs=sfs.transform(X_train)
X_test_sfs=sfs.transform(X_test)

model=LinearRegression()
print("Training",np.mean(cross_val_score(model,X_train_sfs,y_train,cv=5,scoring='r2')))
print("testing",np.mean(cross_val_score(model, X_test_sfs, y_test, cv=5, scoring='r2')))


print('Best accuracy score: %.2f' % sfs.k_score_)
print('Best subset (indices):', sfs.k_feature_idx_)
print('Best subset (corresponding names):', sfs.k_feature_names_)

Training 0.2804733635355725
testing 0.31030648688732254
Best accuracy score: 0.28
Best subset (indices): (0, 1, 3, 5, 6, 7, 8, 9, 10)
Best subset (corresponding names): ('0', '1', '3', '5', '6', '7', '8', '9', '10')

In [79]:
# Sequential Backward Selection

from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.metrics import mean_squared_error
lr=LinearRegression()
sbs=SFS(lr,k_features=9,forward=False,floating=False,cv=5,scoring='r2')
sbs=sbs.fit(X_train,y_train)

X_train_sbs=sbs.transform(X_train)
X_test_sbs=sbs.transform(X_test)

model=LinearRegression()
print("Training",np.mean(cross_val_score(model,X_train_sbs,y_train,cv=5,scoring='r2')))
print("testing",np.mean(cross_val_score(model, X_test_sbs, y_test, cv=5, scoring='r2')))


print('Best accuracy score: %.2f' % sbs.k_score_)
print('Best subset (indices):', sbs.k_feature_idx_)
print('Best subset (corresponding names):', sbs.k_feature_names_)

Training 0.2804733635355725
testing 0.31030648688732254
Best accuracy score: 0.28
Best subset (indices): (0, 1, 3, 5, 6, 7, 8, 9, 10)
Best subset (corresponding names): ('0', '1', '3', '5', '6', '7', '8', '9', '10')